/*https://www.digitalocean.com/community/tutorials/how-to-use-opacity-and-transparency-to-create-a-modal-in-css*/
.modal-container{
    position: relative;
    top: 0;
    right: 0;
    z-index: 1000;
}

.modal-container > *{
    display: flex;
    align-self: center;
}