<main class="main">
    <div class="content">
        
        <div class="search-container">
            <input type="text" placeholder="e.g: Chaisaw Man, Game of Thrones, Star Wars...." name="search" list="suggestions" id="searchQuery" (keydown.enter)="toSearchPage(searchQuery.value)" #searchQuery>
            <input type="button" value="search" (click)="toSearchPage(searchQuery.value)"  (keydown.enter)="toSearchPage(searchQuery.value)">
        </div>
        <div class="section" *ngIf="lsObjects!=null">
            <h3>To be Aired</h3>

            <div id="data"  >
                <ng-container *ngFor="let data of lsObjects; index as i">
                        <div id="data-list" #dataList>
                            <div id="content" *ngIf="i<=5; else nextButtonAired">
                                <div class="HPReleaseInfo" *ngIf="data.media_type=='tv'; else isMovie" #HPReleaseInfo>
                                    <span>next episode: <b>{{datePipe.transform(data.next_episode_to_air.air_date, "dd/MM/yyyy")}}</b> <br/></span>
                                    <span [ngClass]="epiNameisTooBig[i] ? 'animate-leftRight episodeName' : 'episodeName'">
                                        <p>{{data.next_episode_to_air.name}}</p> 
                                    </span>
                                    <span *ngIf="epiNameisTooBig[i]" class="fader fader-left"></span>
                                    <span *ngIf="epiNameisTooBig[i]" class="fader fader-right"></span>
                                    <span>
                                        ({{data.next_episode_to_air.episode_number +'/'+ data.number_of_episodes}})
                                    </span>
                                </div>
                                <ng-template #isMovie>
                                    <div class="HPReleaseInfo"> 
                                        <span>release date: {{datePipe.transform(data.release_date, "dd/MM/yyyy")}}</span>
                                        <hr />
                                    </div>
                                </ng-template>
                                <app-poster-img [SourcePosterID]="data.id" [SourceMediaType]="data.media_type"></app-poster-img>
                                <a style="cursor:pointer" 
                                (click)="toDetailsPage(data.media_type,data.id);">
                                <div class="container">
                                    <div class="title-container" #titleContainer>
                                        <span [ngClass]="titleisTooBig[i] ? 'animate-leftRight' : '' " #spanTitle>{{data.name || data.name}}</span>
                                        <span [ngClass]="titleisTooBig[i] ? 'fader fader-left' : ''"></span>
                                        <span [ngClass]="titleisTooBig[i] ? 'fader fader-right' : ''"></span>
                                    </div>
                                </div>
                                </a>
                            </div>
                            <ng-template #nextButtonAired>
                                <div id="WatchedPageButton">
                                    <a style="cursor:pointer" 
                                    (click)="toReleasesPage();">
                                        <svg viewBox="0 0 15 15" xmlns="http://www.w3.org/2000/svg">
                                            <circle cx="8" cy="8" r="5" fill="none" stroke="#000"/>
                                            <path d="M6 5 11 8 6 11" fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round"/>
                                        </svg>
                                        <p id="pageListParagraph">See all the following releases</p>
                                    </a>
                                </div>
                            </ng-template>
                        </div>
                </ng-container>
            </div>
        </div>

        <div id="WatchedPageButton">
            <a style="cursor:pointer" 
            (click)="toCurrentlyWatchedPage();">
                <svg height="50px" width="50px" viewBox="0 0 15 15" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="8" cy="8" r="5" fill="none" stroke="#000"/>
                    <path d="M6 5 11 8 6 11" fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                <p id="pageListParagraph">See all the Medias saved</p>
            </a>
        </div>

    </div>
</main>
