#releasing{
    text-align: center;
}

#watching{
    text-align: center;
}

#data{
    display: flex;
    justify-content: space-evenly;
}

#data-list{
    width: 200px;

}

.poster-img{
    align-self: center;
}

#content{
    display: flex;
    flex-direction: column;
}

#content a{
    display: flex;
    align-self: center;
}


#WatchedPageButton{
    text-align: center;
}

#pageListParagraph{
    padding-top: 5px;
    text-align: center; 
    font-size: medium;
}
