#releasing{
    text-align: center;
}

#watching{
    text-align: center;
}

#data{
    display: flex;
    justify-content: space-evenly;
}

#data-list{
    width: 200px;

}

.poster-img{
    align-self: center;
}

#content{
    display: flex;
    flex-direction: column;
}

#content a{
    display: flex;
    align-self: center;
}

#episode_name{
    padding-bottom: 15px;
    font-weight: bold;
}

#WatchedPageButton{

}

#pageListParagraph{
    padding-top: 60px;
    text-align: center; 
    font-size: xx-large;
}