<main class="main">
    <div class="content">
        <div class="response">
            <!--GET AN EMPTY RESPONSE, BUT IN CONSOLE WE GET RESPONSE IN XMR... HOW TO NAVIGATE INSIDE OF DATA???-->
            {{response}}
            {{title}}
            {{id}}
        </div>
        <div class="search-container">
            <input type="text" placeholder="e.g: Chaisaw Man, Game of Thrones, Star Wars...." name="search" id="search" #search>
            <input type="button" value="search">
        </div>
        <div id="Releasing">
            
        </div>
        <div id="watched">
            
        </div>
    </div>
</main>
