<a style="cursor:pointer; text-decoration: underline;" 
    (click)="backClicked()">
    <p>return Back</p>
</a>
<div class="response">
    <div class="pageContainer">
        <img
        id="PosterImage"
        [src]="posterImage"
        alt="noice" 
        loading="lazy"
        width="200px"
        />
        <div>
        <ng-container *ngFor="let episode of response.episodes; index as i">
            <p>{{episode.name}}</p>
            <img 
                class="SeasonImage"
                src="{{episode.still_path!=null ? 'https://image.tmdb.org/t/p/original'+episode.still_path : 'assets/img/fallbackIMG.svg'}}"
                alt="Poster for the {{episode.name}} Arc" 
                loading="lazy"
                width="200px"
                />
        </ng-container>
        </div>
    </div>
</div>