<a style="cursor:pointer; text-decoration: underline;" 
    (click)="backClicked()">
    <p>return Back</p>
</a>

<div class="response">
    <div class="pageContainer">
        <div class="tooltip">
            <h1>
                {{response.name || response.title || undefined}}
            </h1>
            <span class="tooltiptext">Original Title:<br/>{{response.original_name || response.original_title || undefined}}</span>
        </div>
        <br/>
        <img
        id="PosterImage"
        [src]="posterImage"
        alt="noice" 
        loading="lazy"
        width="200px"
        />
        <h5>{{response.first_air_date || response.release_date || undefined }}</h5>
        <h5>{{response.status || undefined}}</h5>
        <p>{{response.overview || undefined}}</p>
        <p>{{response.runtime==0 ? 'no runtime data!' : response.runtime  || undefined}}</p>
        <div id="genreContainer" *ngFor="let genre of response.genres">
            <p class="genre">{{genre.name  || undefined}}</p>
        </div>
        <div class="seasonContainer">
            <ng-container *ngFor="let season of response.seasons; index as i">
            <a style="cursor:pointer" (click)="toSeasonDetailsPage(season?.season_number)">
                <img 
                class="SeasonImage"
                src="{{season.poster_path!=null ? 'https://image.tmdb.org/t/p/original'+season?.poster_path : 'assets/img/fallbackIMG.svg'}}"
                alt="Poster for the {{season.name  || undefined}} Arc" 
                loading="lazy"
                width="200px"
                />
            </a>
            </ng-container>
        </div>
        <div id="nextEpisodeInfo" *ngIf="response?.next_episode_to_air!=null">
            <h3>Next Episode Information for {{seasons[response?.next_episode_to_air.season_number]?.name}} Arc</h3>
            <img
                id="nextEpisodePoster"
                [src]="nextEpisodeImage"
                alt="noice" 
                loading="lazy"
                width="200px"
            />
            <div id="nextEpisode">
                <div id="nextEpisodeText">
                    <p>Episode title: {{response.next_episode_to_air.name}}</p>
                    <p>Episode number: {{response.next_episode_to_air.episode_number}}</p>
                    <p>Release date: {{response.next_episode_to_air.air_date}}</p>
                </div>
            </div>
        </div>
        
        <div class="actionWithData" *ngIf="!this.existsLS">
            <input type="button" value="Add to Watchlist" (click)="AddIntoLS()">
        </div>
        <div class="actionWithData" *ngIf="this.existsLS">
            <input type="button" value="Delete From Watchlist" (click)="DeleteFromLS()">
        </div>
    </div>
</div>
<router-outlet></router-outlet>