#nextEpisodePoster{
    float: left;
}

#nextEpisodeText{
    padding-left: 10px;
}

#addToLSDiv{
    padding-top: 5px;
}

.response{
    padding: 0 15em 0 15em;
    
}

.pageContainer{
    padding: 0 100px 25px 100px;
    background-color: var(--section-1-bg-color);
}

.actionWithData {
    padding-top: 15px;
    display: flex;
    padding: 0 100px 25px 100px;
}

.actionWithData 
input[type="button"]{
    padding: 15px;
    background-color: #04AA6D;
    color: white;
    cursor: pointer;
    text-decoration: none;
    border: none;
}