<a style="cursor:pointer; text-decoration: underline;" 
    (click)="backClicked()">
    <p>return Back</p>
</a>

<div class="response">
    <div class="tooltip">
        <h1>
            {{response.name || response.title}}
        </h1>
        <span class="tooltiptext">Original Title:<br/>{{response.original_name || response.original_title}}</span>
    </div>
    <br/>
    <app-poster-img [SourcePosterID]="id" [SourceMediaType]="media_type" [posterWidth]="200"></app-poster-img>
    <h5>{{response.first_air_date || response.release_date}}</h5>
    <h5>{{response.status}}</h5>
    <p>{{response.overview}}</p>
    <p>{{response.runtime==0 ? 'no runtime data!' : response.runtime}}</p>
    <div *ngFor="let genre of response.genres">
        <p>{{genre.name}}</p>
    </div>
    <div id="nextEpisodeInfo" *ngIf="response?.next_episode_to_air!=''">
        <h3>Next Episode Information</h3>
        <img
            id="nextEpisodePoster"
            [src]="nextEpisodeImage"
            alt="noice" 
            loading="lazy"
            width="200px"
        />
        <div id="nextEpisode">
            <div id="nextEpisodeText">
                <p>Episode title: {{response.next_episode_to_air.name}}</p>
                <p>Episode number: {{response.next_episode_to_air.episode_number}}</p>
                <p>Release date: {{response.next_episode_to_air.air_date}}</p>
            </div>
        </div>
    </div>
    
    <div class="actionWithData" *ngIf="!this.existsLS">
        <input type="button" value="Add to Watchlist" (click)="AddIntoLS()">
    </div>
    <div class="actionWithData" *ngIf="this.existsLS">
        <input type="button" value="Delete From Watchlist" (click)="DeleteFromLS()">
    </div>
</div>