div#modalDiv{
    position: fixed;
    top: 0;
    right: 0;
    
    a, span{
        margin-right: 15px;
    }
}

.redirButton{
    font-size: large;    
    display: flex;
    align-self: right;
}

a{
    cursor:pointer;
    text-decoration: underline;
    color:aquamarine;
}

.fader {
    position: static;
    top: 0;
    height: 100%;
    width: 25px;
}

.fader.fader-left {
    left: 0;
    background: linear-gradient(to left, transparent, var(--section-1-fader-bg-color));
}

.fader.fader-right {
    right: 0;
    background: linear-gradient(to right, transparent, var(--section-1-fader-bg-color));
}



