/* You can add global styles to this file, and also import other style files */
body{
    background-color: rgb(5, 80, 55);
}

#Releasing{
    background-color: rgb(22, 133, 96);
}

#watched{
    background-color: rgb(84, 184, 150);
}
