/* You can add global styles to this file, and also import other style files */

:root {
    --main-bg-color: rgb(5, 80, 55);
    --section-1-bg-color: rgb(84, 184, 150);
    --section-1-fader-bg-color: rgb(156, 248, 217);
    --section-2-bg-color: rgb(22, 133, 96);
    --tooltip-text-bg-color: #000;
    --tooltip-text-color: #fff;
  }
  


body{
    background-color: var(--main-bg-color)
}

.section{
    background-color: var(--section-1-bg-color)
}

.section-2{
    background-color: var(--section-2-bg-color)
}



/*Link : https://www.w3schools.com/css/css_tooltip.asp */
/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}
  
  /* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: var(--tooltip-text-bg-color);
    color: var(--tooltip-text-color);
    text-align: center;
    padding: 2px 0;
    border-radius: 6px;
   
    /* Position the tooltip text - see examples below! */
    position: absolute;
    top: 15px;
    left: 102%; 
    z-index: 1;
}
  
  /* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}

.container {
    overflow: hidden;
}

.title-container{
    width: inherit;
    overflow-x: visible;
    white-space: nowrap;
    position: relative;
    max-width: 200px;
}



.HPReleaseInfo {
    span{
        display: inline
    }
}

.animate-leftRight {
    position: relative;
    animation: leftright 1s infinite alternate ease-in-out;
}

@keyframes leftright {
    0%, 20% {
      transform: translateX(0%);
      left: 0%;
    }
    80%, 100% {
      transform: translateX(-100%);
      left: 100%;
    }
}




#Table{
    
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;

    th, td{
        border: 1px solid #ddd;
        padding: 8px;
        text-align: center;
    }
}

tr:nth-child(even){
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

th{ 
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #029962;
    color: white;
}